<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>

</head>
<body>
<h2>Add User</h2>

<form action="#" method="post" th:action="@{/user/add}" th:object="${user}">
    <table>
        <tbody>
        <tr>
            <td>
                First Name
                <input type="text" name="firstName" th:field="*{firstName}" th:value="*{firstName}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
            </td>
        </tr>
        <tr>
            <td>
                Last Name
                <input type="text" name="lastName" th:field="*{lastName}" th:value="*{lastName}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
            </td>
        </tr>
        <tr>
            <td>
                Year of birth
                <input type="text" name="yob" th:field="*{yob}" th:value="*{yob}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('yob')}" th:errors="*{yob}">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="submit" th:value="Edit">Save User</button>
                <button type="button" name="cancel" th:onclick="window.history.back()">Cancel</button>
            </td>
        </tr>
        </tbody>
    </table>

</form>
<a th:href = "@{/user}"> Back to User List</a>
</body>
</html>


